.button {
	@include flex-center(true);

	height: $button-height;
	padding-inline: 35px;
	font-size: 20px;
	color: $color-light;
	background-color: $color-dark;
	border: $border;
	border-radius: $border-raduis;

	@include hover {
		color: $color-dark;
		background-color: $color-accent;
	}

	&--transparent {
		color: $color-dark;
		background-color: transparent;
	}
}
